#app {
    @font-face {
        font-family: "Alokary";
        font-style: normal;
        font-weight: 400;
        src:
            local("Alokary"),
            local("Alokary"),
            url("@/assets/fonts/Alokary.ttf") format("truetype");
    }

    @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        src:
            local("Montserrat"),
            local("Montserrat"),
            url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    }

    text-align: center;
    color: #fff;
    background-color: #000312;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 50rem;
    min-width: fit-content;
}

.parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(11, 16, 42, 0), rgba(11, 16, 42, 0.3), rgba(11, 16, 42, 0.9)),
        url("@/assets/img/Mosque.png");
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
    text-align: center;
}

.parallax-container-2 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("@/assets/img/Collage.png");
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 10rem;
    text-align: center;
}

.buffer {
    width: 100%;
    min-height: 50vh;
    background-color: #0b102a;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    font-weight: bolder;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    // background-color: #0c1230;
    // background-image: url("@/assets/img/Mosque.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: auto;
    min-height: 100vh;
    display: block;
    text-align: center;
    line-height: 85vh;

    &__title {
        margin: 4rem;
        color: #fff;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
        font-family: "Alokary";
        display: inline-block;
    }
}

.card {
    width: 70%;
    min-height: 70%;
    // background-color: #e4d19d;
    border-radius: 8px;

    &__title {
        font-size: large;
        font-family: "Alokary";
        letter-spacing: 0.2rem;
    }

    &__text {
        padding: 3rem;
        line-height: 1.5;
        font-family: "Montserrat";
    }
}

.author {
    min-height: 3rem;
    margin-top: 10rem;
    background-image: linear-gradient(#490009, #690f1b);

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__img {
        width: 40%;
        background-color: #fff;
        color: #490009;
        // border-radius: 8px;
        object-fit: cover;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
        box-shadow: 8px 8px 8px #0b102a;
    }
}

.book {
    min-height: 3rem;
    background-image: linear-gradient(#690f1b, #881c2d);

    &__gallery {
        background-color: #fff;
        color: #490009;
        line-height: 20rem;
        height: 20rem;
        margin-bottom: 5rem;
        width: 90vw;
        position: relative;
        left: calc(-45vw + 50%);
        border-radius: 8px;
        box-shadow: 0px 8px 8px #0b102a;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        column-gap: 0.5rem;
        overflow-y: hidden;
    }

    &__img {
        height: 20rem;
        overflow: visible;
    }

    .zoom {
        transition: transform 0.3s; /* Animation */
    }

    .zoom:hover {
        transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        overflow-y: visible;

        // box-shadow: 5pc 5px 5px #fff;
    }
}

.buy {
    min-height: 3rem;
    background-image: linear-gradient(#881c2d, #a72b3e);

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0rem 5rem 5rem 5rem;
        column-gap: 5rem;
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        min-width: 50%;
        padding-top: 3rem;
        align-items: center;

        &--amazon {
            width: 100px;
            height: 50px;
            outline: #fff;
            background-image: "/scr/assets/img/BookBabyLogo.svg";
        }

        &--bookbaby {
            width: 100px;
            height: 50px;
            background-image: "/scr/assets/img/BookBabyLogo.svg";
        }
    }
}

.contact {
    min-height: 1rem;
    margin-bottom: 10rem;
    background-image: linear-gradient(#a72b3e, #ca374d);

    &__form {
        background-color: #fff;
        margin: 0rem 10rem 5rem;
        min-height: 10rem;
        border-radius: 8px;
    }
}

.footer {
    color: #e4d19d;
    background-color: #0b102a;
    font-size: small;
    padding: 8px;
    text-align: center;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

// colors: 18423a
