#app {
    @font-face {
        font-family: "Chivo";
        font-style: normal;
        font-weight: 400;
        src:
            local("Chivo"),
            local("Chivo"),
            url("@/assets/fonts/Chivo-VariableFont_wght.ttf") format("truetype");
    }
    text-align: center;
    color: #2c3e50;
    background-color: #000312;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 50rem;
    min-width: fit-content;
}

// .container {
//     flex: 1;
// }

.parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("@/assets/img/Mosque.png");
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
    text-align: center;
}

.parallax-container-2 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("@/assets/img/Collage.png");
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 10rem;
    text-align: center;
}

.buffer {
    width: 100%;
    min-height: 30vh;
    background-color: #141937;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
}

.footer {
    color: #e4d19d;
    font-size: small;
    padding: 8px;
    text-align: center;
    flex-wrap: wrap;
}

.header {
    // background-color: #0c1230;
    // background-image: url("@/assets/img/Mosque.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: auto;
    min-height: 100vh;
    display: block;
    text-align: center;
    line-height: 85vh;

    &__title {
        margin: 4rem;
        color: #f0f2ff;
        font-size: 6rem;
        font-family: "Chivo";
        display: inline-block;
    }
}

.card {
    padding-block: 2rem;
    min-width: 70%;
    background-color: white;
}

.author {
    min-height: 3rem;
    background-color: red;
    margin-top: 10rem;
}

.book {
    min-height: 3rem;
    background-color: rgb(255, 0, 217);
}

.buy {
    min-height: 3rem;
    background-color: rgb(0, 255, 166);
}

.contact {
    min-height: 3rem;
    background-color: rgb(255, 251, 0);
    margin-bottom: 10rem;
}

.hidden {
    visibility: hidden;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}
